<div class="field-items">
    <div class="eduIntroText">
        DHS strives to provide educators with the resources necessary to empower students to become member of the digitally literate cybersecurity workforce, using technology in a secure manner.
    </div>
    <table class="eduTable">
        <tbody>
            <tr>
                <td class="classroomSquare">
                    <h2 class="eduHeader"><strong>Integrating Cybersecurity into the Classroom</strong></h2>

                    <img class="classroomSquareImg squareImg" alt="Image showing a chalkboard with two green apples and a chalk. Links to Integrating Cybersecurity into the Classroom." src="https://niccs.us-cert.gov/sites/default/files/styles/landing_page_collection_thumbnail/public/images/formal_edu_landing_classroom.jpg?itok=9CenFKiE" width="490px" />
                </td>

                <td class="caeSquare">
                    <h2 class="eduHeader"><strong>National Centers of Academic Excellence (CAE)</strong></h2>

                    <img class="caeSquareImg squareImg" alt="Image showing a female student in a computer class. Links to National Centers of Academic Excellence (CAE)" src="https://niccs.us-cert.gov/sites/default/files/styles/landing_page_collection_thumbnail/public/images/formal_edu_landing_cae.jpg?itok=ucbVrZk_" width="490px" />
                </td>
            </tr>
            <tr>
                <td class="studentSquare">
                    <h2 class="eduHeader"><strong>Student Cybersecurity Resources</strong></h2>

                    <img class="studentSquareImg squareImg" alt="''" src="https://niccs.us-cert.gov/sites/default/files/styles/landing_page_collection_thumbnail/public/images/student-feature-story.jpg?itok=xmicDOCf" width="490px" />
                </td>

                <td class="cyberCorpsSquare">
                    <h2 class="eduHeader"><strong>CyberCorps®: Scholarship for Service (SFS)</strong></h2>

                    <img class="cyberCorpsSquareImg squareImg" alt="An image of U.S. flag. Links to CyberCorps®: Scholarship for Service (SFS). Links to CyberCorps: Scholarship for Service (SFS)" src="https://niccs.us-cert.gov/sites/default/files/styles/landing_page_collection_thumbnail/public/images/formal_edu_landing_sfs.jpg?itok=bwF34jen" width="490px" />
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!--end field-items-->

<div class="eduTextDiv">
    <div class="eduMainContent">
        <h2><strong>Furthering Cybersecurity Education</strong></h2>

        <p>Promoting and expanding cybersecurity education is essential to protecting the Nation’s critical infrastructure. In order for the United States to best protect our interests in the 21st century, a new workforce needs to be educated and the current workforce needs additional skills.</p>

        <p>From elementary schools to postgraduate institutions, educators need to comprehend the critical knowledge, skills, and abilities that future cybersecurity professionals need to be equipped with. We must teach science, technology, engineering and math (STEM), and other cyber concepts to all students, and educate all students on the secure use of today’s ever-evolving technologies.</p>

        <p>DHS strives to provide educators with the resources necessary to empower students to become members of a new digitally literate workforce, using technology in a secure manner. DHS offers various resources to build foundational skills for a career in cybersecurity, collegiate level programs, and continuing education resources for outside the classroom.  Educators can find various curriculum resources and programs to help identify the skills and knowledge students need to become members of this growing community.</p>

        <p>Browse through the tab to find what’s right for you, and contact the NICCS team at NICCS@hq.dhs.gov to learn about how you can become more cyber-savvy!</p>

    </div>
    <!--end eduMainContent-->
    
</div>
