<div class="field-items">
    <div class="developIntroText">
        Cybersecurity is a national priority and critical to the well-being of organizations. As technology becomes increasingly sophisticated, demand for an experienced and qualified workforce is essential.
    </div>
    <table class="developTable">
        <tbody>
            <tr>
                <td class="niceSquare">
                    <h2 class="developHeader"><strong>NICE Cybersecurity Workforce Framework</strong></h2>

                    <img class="niceSquareImg squareImg" alt="Image showing Steel Frame Construction. Links to Cybersecurity Workforce Framework." src="https://niccs.us-cert.gov/sites/default/files/styles/landing_page_collection_thumbnail/public/images/wd_landing_framework_0.jpg?itok=Q6hVd4gq" width="980px" />
                </td>
            </tr>
            <tr>
                <td class="mappingSquare">
                    <h2 class="developHeader"><strong>Mapping Tool</strong></h2>

                    <img class="mappingSquareImg squareImg" alt="Mapping Tool" src="https://niccs.us-cert.gov/sites/default/files/styles/landing_page_collection_thumbnail/public/images/landing_mapping.jpg?itok=pHc_GNNc" width="490px" />
                </td>

                <td class="resourcesSquare">
                    <h2 class="developHeader"><strong>Cybersecurity Resources</strong></h2>

                    <img class="resourcesSquareImg squareImg" alt="A lock over a background of computer circuitry." src="https://niccs.us-cert.gov/sites/default/files/styles/landing_page_collection_thumbnail/public/images/cybersecurity_inner.jpg?itok=Cv-UXSQa" width="490px" />
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!--end field-items-->

<div class="developTextDiv">
    <div class="developMainContent">
        <p>CISA has tools and resources to help organizations build a world-class cybersecurity workforce:</p>

        <ul>
            <li>Explore the NICE Cybersecurity Workforce Framework, a nationally focused and interactive framework that categorizes and describes cybersecurity work.</li>
            <li>Learn how to use the NICE Framework through multiple resources for hiring managers, employers, cybersecurity professional, job seekers and more.</li>
            <li>Enhance career and job understanding by mapping cybersecurity knowledge, tasks, skills, and abilities using the NICE Framework Mapping tool.</li>
            <li>Tap into additional Cybersecurity Resources to design and build a top-notch cybersecurity workforce.</li>
        </ul>

        <p>Want to stay up-to-date of the latest DHS Cybersecurity Education & Awareness workforce tools and resources? Email NICCS@hq.dhs.gov to be added to the cybersecurity workforce development mailing list.</p>
    </div>
    <!--end trainingMainContent-->

    <div class="trainingSidebar">
        <h2>Cybersecurity Workforce Development Tools (SIDEBAR)</h2>

        <p>Education and Training Catalog (LINK)</p>

        <p>Cybersecurity Workforce Development Slick Sheet (LINK)</p>
    </div>
    <!--end trainingSidebar-->
</div>
