<div classname="field-items">

    <!--niccs square-->
    <div className="field-item even" id="trainingNiccsSquare">
        <article className="node node-inner-page node-teaser node-even trainingNiccsSquare">

        <header>
            <h2>NICCS Education and Training Catalog (LINK)</h2>
        </header>

        <div classname="trainingContent"><a>
            <img alt="NICCS Education and Training Catalog. Links to NICCS Education and Training Catalog" src="https://niccs.us-cert.gov/sites/default/files/styles/landing_page_collection_thumbnail/public/images/training_landing_tc_map.jpg?itok=5Zk_ucaz" width="490px" /></a>
        </div>

        </article>
    </div>

    <!--become provider square-->
    <div className="field-item odd" id="trainingProviderSquare">
        <article className="node node-inner-page node-teaser node-odd">

        <header>
            <h2>Become a Provider (LINK)</h2>
        </header>
        
        <div classname="trainingContent"><a>
            <img alt="Image showing a hand writing on a green chalk board. Links to Become a Provider." src="https://niccs.us-cert.gov/sites/default/files/styles/landing_page_collection_thumbnail/public/images/training_landing_provider.jpg?itok=MyHPsg0C" width="490px" /></a>
        </div>

        </article>
    </div>
    
    <!--FedVTE square-->
    <div className="field-item even" id="trainingFedSquare">
        <article className="node node-inner-page node-teaser node-even">

        <header>
            <h2>Federal Virtual Training Environment (FedVTE) (LINK)</h2>
        </header>
        
        <div classname="trainingContent"><a>
            <img alt="Image showing a laptop sitting on a desk. Links to Federal Virtual Training Environment (FedVTE)." src="https://niccs.us-cert.gov/sites/default/files/styles/landing_page_collection_thumbnail/public/images/training_landing_fedvte_0.jpg?itok=Xn8BgtEp" width="490px" /></a>
        </div>

        </article>
    </div>

    <!--career square-->
    <div className="field-item even" id="careerSquare">
        <article className="node node-inner-page node-teaser node-odd">

        <header>
            <h2>Veterans: Launch a New Cybersecurity Career (LINK)</h2>
        </header>
        
        <div classname="trainingContent"><a>
            <img alt="Two individuals, military and civilian, shaking hands. Links to Veterans: Launch a New Cybersecurity Career" src="https://niccs.us-cert.gov/sites/default/files/styles/landing_page_collection_thumbnail/public/images/training_landing_veterans1.jpg?itok=K0qgLZ8N" width="490px" /></a>
        </div>

        </article>
    </div>

</div>
<!--end field-items-->
    
<div classname="trainingMainContent">
    <h2>Training for a Career in Cybersecurity</h2>
    
    <p>Securing, protecting, and defending our nation’s cybersecurity data and infrastructure requires a responsive, extensive, and highly trained workforce.</p>
    
    <p>The NICCS Education and Training Catalog is the place to start for all people interested in advancing their cybersecurity education: current cybersecurity employees looking to build skills, career changers seeking to forge a new path or veterans hoping to retrain for the next phase in life.</p>
    
    <p>The NICCS Education and Training Catalog offers more than 3,000 cybersecurity-related courses throughout the country, both online and in person from over 125 different providers. Visit the Education and Training Catalog today and find the course(s) that paves the way to a future in a cybersecurity career.</p>
    
    <h2>Free Government Cybersecurity Training</h2>
    
    <p>The Federal Virtual Training Environment (FedVTE) is a free online, on-demand cybersecurity training system for government personnel and veterans. FedVTE contains more than 800 hours of training on topics such as ethical hacking and surveillance, risk management, and malware analysis courses ranging from beginner to advanced levels. Learn more about FedVTE.</p>
</div>
    
<div classname="trainingSidebar">
    <h2>Other Useful Links</h2>
    
    <p>CyberCorps®: Scholarship for Service (SFS) (LINK)</p>
    
    <p>National Centers of Academic Excellence (CAE) (LINK)</p>
</div>
    