.footerDiv {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-top: 45px;  
    /* padding-top: 50px; */
    padding-left: 1px;
    padding-bottom: 10px;
    padding-right: 1px;
    background-color: white;
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: 20fr 60fr 20fr;
    vertical-align: center;
    border-top: 1px solid rgb(204, 204, 204);
}

.footerContent {
    grid-row: 2/3;
    grid-column: 2/3;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(8, auto);
}

a:hover {
    color: #0775a8;
}

.footerText {
    margin-top: auto;
    margin-bottom: auto;
    padding: 0 1% 0;
    text-align: left;
    vertical-align: center;
    text-decoration: none;
    color: black;
    font-family: "Open Sans", Arial;
    font-size: 14px;
}

.footerHome {
    grid-row: 1/2;
    grid-column: 1/2;
}

.footerPrivacy {
    grid-row: 1/2;
    grid-column: 2/3;
}

.footerNICCS {
    grid-row: 1/2;
    grid-column: 3/4;
}

.footerNoFear {
    grid-row: 1/2;
    grid-column: 4/5;
}

.footerAccess {
    grid-row: 1/2;
    grid-column: 5/6;
}

.imgDiv {
    grid-row: 1/-1;
    grid-column: 7/8;
}

#dhsLogo {
    max-width: 100%;
    height: auto;
    float: right;
}

.niccsContentDiv {
    background-color: white;
    padding-bottom: 175px;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 20fr 60fr 20fr;
}

.niccsBodyDiv {
    grid-row: auto;
    grid-column: 2/3;
}