body {
    text-align: left;
}

.footerNavDiv {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(7, auto);
    /* position: absolute; */
    /* bottom: 0; */
    /* width: 100%; */
}