.noFearDrupal {
    background-color: white;
    padding-bottom: 100px;
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: 20fr 60fr 20fr;
}

.noFearTitleDiv {
    grid-row: 1/2;
    grid-column: 2/3;
}

.noFearBodyDiv {
    grid-row: 2/3;
    grid-column: 2/3;
}