<div class="field-items">
    <table class="trainingTable">
        <tbody>
            <tr>
                <td class="niccsSquare">
                    <h2 class="trainHeader"><strong>NICCS Education and Training Catalog (LINK)</strong></h2>

                    <div class="trainingContent"><img alt="NICCS Education and Training Catalog. Links to NICCS Education and Training Catalog" src="https://niccs.us-cert.gov/sites/default/files/styles/landing_page_collection_thumbnail/public/images/training_landing_tc_map.jpg?itok=5Zk_ucaz" width="490px" /></div>
                </td>

                <td class="providerSquare">
                    <header class="trainHeader">
                    <h2><strong>Become a Provider (LINK)</strong></h2>
                    </header>

                    <div class="trainingContent"><img alt="Image showing a hand writing on a green chalk board. Links to Become a Provider." src="https://niccs.us-cert.gov/sites/default/files/styles/landing_page_collection_thumbnail/public/images/training_landing_provider.jpg?itok=MyHPsg0C" width="490px" /></div>
                </td>
            </tr>
            <tr>
                <td class="fedvteSquare">
                    <header class="trainHeader">
                    <h2><strong>Federal Virtual Training Environment (FedVTE) (LINK)</strong></h2>
                    </header>

                    <div class="trainingContent"><img alt="Image showing a laptop sitting on a desk. Links to Federal Virtual Training Environment (FedVTE)." src="https://niccs.us-cert.gov/sites/default/files/styles/landing_page_collection_thumbnail/public/images/training_landing_fedvte_0.jpg?itok=Xn8BgtEp" width="490px" />
                    </div>
                </td>

                <td class="veteransSquare">
                <div class="trainingContent">                            <header class="trainHeader">
                    <h2><strong>Veterans: Launch a New Cybersecurity Career (LINK)</strong></h2>
                    </header>
                    <img alt="Two individuals, military and civilian, shaking hands. Links to Veterans: Launch a New Cybersecurity Career" src="https://niccs.us-cert.gov/sites/default/files/styles/landing_page_collection_thumbnail/public/images/training_landing_veterans1.jpg?itok=K0qgLZ8N" width="490px" />
                </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!--end field-items-->

<div class="trainingTextDiv">
    <div class="trainingMainContent">
        <h2>Training for a Career in Cybersecurity</h2>

        <p>Securing, protecting, and defending our nation’s cybersecurity data and infrastructure requires a responsive, extensive, and highly trained workforce.</p>

        <p>The NICCS Education and Training Catalog is the place to start for all people interested in advancing their cybersecurity education: current cybersecurity employees looking to build skills, career changers seeking to forge a new path or veterans hoping to retrain for the next phase in life.</p>

        <p>The NICCS Education and Training Catalog offers more than 3,000 cybersecurity-related courses throughout the country, both online and in person from over 125 different providers. Visit the Education and Training Catalog today and find the course(s) that paves the way to a future in a cybersecurity career.</p>

        <p></p>

        <h2>Free Government Cybersecurity Training</h2>

        <p>The Federal Virtual Training Environment (FedVTE) is a free online, on-demand cybersecurity training system for government personnel and veterans. FedVTE contains more than 800 hours of training on topics such as ethical hacking and surveillance, risk management, and malware analysis courses ranging from beginner to advanced levels. Learn more about FedVTE.</p>
    </div>
    <!--end trainingMainContent-->

    <div class="trainingSidebar">
        <h2>Other Useful Links (SIDEBAR)</h2>

        <p>CyberCorps®: Scholarship for Service (SFS) (LINK)</p>

        <p>National Centers of Academic Excellence (CAE) (LINK)</p>
    </div>
    <!--end trainingSidebar-->
</div>
