html, body {
  height: 100vh;
}

.App {
  text-align: center;
  display: grid;
  grid-template-rows: 32.5px auto 1fr;
  grid-template-columns: 1fr;
}

header {
  margin-top: 0px;
}

p {
  margin: 0px;
}

.dhsHeader {
  text-align: center;
  background-color: black;
  color: rgb(255, 255, 255);
  font-family: "Times New Roman";
  font-size: 13px;
  margin: 0px;
  padding: 0px;
  vertical-align: center;
}


.footer {
  /* background-color: black; */
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(7, auto);
  bottom: 0;
  position: absolute;
  left: 0;
  right: 0;
}

#dhsLogo {
  grid-row: 1/2;
  grid-column: 7/-1;
  padding-left: 50px;
}