.App {
  text-align: center;
}

/* .logoImg {
  width: 100px;
}

.logoDiv {
  background-color: black;
} */

.footer {
  background-color: blue;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(7, auto);
}